[Unit]
Description=NCDM on tty1 (fbterm enabled)
Conflicts=plymouth-quit.service
After=plymouth-quit.service

[Service]
Type=simple
ExecStart=/usr/bin/ncdm tty1 fbterm
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
Restart=always

[Install]
Alias=ncdm.service
WantedBy=multi-user.target
