[Unit]
Description=NCDM on tty1
Conflicts=plymouth-quit.service
After=plymouth-quit.service

[Service]
Type=simple
ExecStart=/usr/bin/ncdm linux
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
Restart=on-abort

[Install]
Alias=ncdm.service
WantedBy=multi-user.target
